---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% assign teaching_posts_grouped_by_venue = site.teaching | group_by: "venue" %}

{# Display Imperial first #}
{% assign imperial_posts = site.teaching | where: 'venue', "Imperial College London, Department of Infectious Disease Epidemiology" %}
{% if imperial_posts.size > 0 %}
  <h2>Imperial College London, Department of Infectious Disease Epidemiology</h2>
  {% for post in imperial_posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

{# Display other institutions #}
{% for venue_group in teaching_posts_grouped_by_venue %}
  {% unless venue_group.name == "Imperial College London, Department of Infectious Disease Epidemiology" %}
    <h2>{{ venue_group.name }}</h2>

    {% assign posts_sorted_by_date = venue_group.items | sort: 'date' | reverse %}
    {% for post in posts_sorted_by_date %}
      {% include archive-single.html %}
    {% endfor %}
  {% endunless %}
{% endfor %}
